# Virtual environment (if applicable)    
venv/
env/
.env/
venv.bak/
# Environment variables
# .env
# Django
db.sqlite3
__pycache__/
*.pyc
# Backup files
*.bak
# PyCharm
.idea/
# Python Packaginga
*.egg-info/
dist/
build/
# VSCode
.vscode/
# Ignore custom file containing databases
database_config.py
# env/
# env
# Build
build/
dist/
*.egg-info/
.eggs/
# Coverage Reports
htmlcov/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
REDIRECT_URI= 'http://localhost:8000/auth/'
# Windows
Thumbs.db
Desktop.ini
# macOS
.DS_Store
# MyPy
.mypy_cache/
.dmypy.json
dmypy.json
# Environment Files
.env
*.env
# Django Stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
staticfiles/
# Python Bytecode Files
__pycache__/
*.py[cod]
REDIRECT_URI= 'http://localhost:8000/auth/'









